html, body, #root, .App {
  height: 100vh;
  
}

body{
  background-color: #f5f4f4;
}

.main__text{
  font-size: 60px;
}

#projects .title {
  margin-bottom: 100px;
}

#about .title {
  margin-top: 50px
}

#contact {
  padding-bottom: 300px;

}


section { 
  margin: 200px 0px 250px 0px;
}

.main__title {
  /* font-family: 'Concert One', cursive; */
}

.main__title .row {
  margin: 10px 0px;

}


section .title {
  /* font-family: 'Concert One', cursive; */
  margin-bottom: 30px;
}


section .sub__text{
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  
}

.navBar {
  /* font-family: 'Concert One', cursive; */
  color: white;
}

.name {
  color: white;
  font-size: 25px;
}

.card__col {
  font-family: 'Lato', sans-serif;
}

.project__row{
  margin-bottom: 300px;
}

.project__row .sub__text:nth-child(odd) p {
  padding-right: 30px
}

.project__image{
  border-radius: 15px;
}


.github__link{
  color: green;
}

.app__link {
  color: none;
}

@media (max-width: 992px) {
  
section .sub--text{
  font-size: 15px;
  
}

.card__col {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
}


}

@media (max-width: 768px) { 
  section .sub--text{
    margin-top: 10px
    
  }
  .SayHi {
    margin-top: 100px;
  }
  .sub__title{
    text-align: center;
  }
  .contact__links{
    padding-left: 25px;
    text-align: center;
  }
  .contact__number{
    min-height: 30px;
    text-align: center;
    margin: auto;
  }
 }




