html, body, #root, .App {
  height: 100vh;
  
}

#projects .title {
  margin-bottom: 100px;
}

#about .title {
  margin-top: 50px
}

#contact {
  padding-bottom: 300px;

}


section { 
  margin: 150px 0px 170px 0px;
}

.main___title {
  font-family: 'Concert One', cursive;
}


section .title {
  font-family: 'Concert One', cursive;
  margin-bottom: 30px;
}


section .sub--text{
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  
}

.navBar {
  font-family: 'Concert One', cursive;
  color: white;
}

.name {
  color: white;
  font-size: 25px;
}

.card__col {
  font-family: 'Lato', sans-serif;
}


.github__link{
  color: green;
}

.app__link {
  color: none;
}

@media (max-width: 992px) {
  
section .sub--text{
  font-size: 15px;
  
}

.card__col {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
}


}

@media (max-width: 768px) { 
  section .sub--text{
    margin-top: 10px
    
  }
  .SayHi {
    margin-top: 100px;
  }
  .sub__title{
    text-align: center;
  }
  .contact__links{
    padding-left: 25px;
    text-align: center;
  }
  .contact__number{
    min-height: 30px;
    text-align: center;
    margin: auto;
  }
 }




